@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .btn {
    border: solid;
    @apply flex items-center justify-center border-purple border-2;
    border-radius: 100px;
    padding: 12px 24px;
    @apply bg-purple;
  }
  .btn > * {
    @apply text-white2 transition-colors;
  }
  .btn:hover {
    @apply bg-opacity-0;
  }
  .btn:hover > * {
    @apply text-purple transition-colors;
  }
  .mini-button-text {
    @apply font-bold text-sm;
  }
  .nav-text {
    @apply font-medium text-lg cursor-pointer text-black hover:text-opacity-50 transition;
  }
  .nav-text-2-Parent {
    @apply w-full left-split text-center;
  }
  .nav-text-2-Child {
    @apply font-medium text-lg cursor-pointer text-black hover:text-opacity-50 transition;
  }
  .bottom-split {
    @apply border-b border-black border-opacity-25;
  }
  .left-split {
    @apply border-l border-black border-opacity-25;
  }
  .right-split {
    @apply border-r border-black border-opacity-25;
  }
  .bg-img, .hero-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .hero-img {
    background-image: url("/programing.png");
  }
  .myname {
    background-clip: text;
    -webkit-background-clip: text; /* For Safari support */
    color: transparent;
    background-image: linear-gradient(125.65deg, #603ADE 15.38%, #3AC1DE 83.58%);
  }
}
@layer utilities {
  .general-margins {
    @apply mx-4 sm:mx-16 lg:mx-24;
  }
  .sub-headings {
    @apply text-black opacity-75 font-normal text-xs sm:text-base;
  }
  .headings {
    @apply text-black font-bold text-2xl mb-2 sm:text-4xl sm:mb-4;
  }
  .device-icons, .choosen-device-icons {
    @apply text-purple w-full text-center flex justify-center items-center rounded-full h-full cursor-pointer;
  }
  .choosen-device-icons {
    @apply min-w-full text-white2 z-20;
  }
  .live-github {
    @apply items-center justify-center mx-auto rounded-full font-bold flex gap-3 bg-white2 text-purple py-3 px-6 w-full sm:w-2/3 lg:w-full sm:py-4 sm:px-8 hover:bg-purple hover:text-white2 transition;
  }
  .techIcon {
    filter: invert(100%) sepia(71%) saturate(2%) hue-rotate(110deg) brightness(108%) contrast(101%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #FFFEFE;
}

#menuParent {
  height: calc(100vh - 97px);
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}
@keyframes open-menuParent {
  0% {
    background-color: rgba(17, 28, 55, 0);
  }
  100% {
    background-color: rgba(17, 28, 55, 0.75);
  }
}
@keyframes close-menuParent {
  0% {
    background-color: rgba(17, 28, 55, 0.75);
  }
  100% {
    background-color: rgba(17, 28, 55, 0);
  }
}

#menuChild {
  animation-fill-mode: forwards;
  animation-duration: 300ms;
}
@keyframes open-menuChild {
  0% {
    height: 0px;
  }
  100% {
    height: 257px;
  }
}
@keyframes close-menuChild {
  0% {
    height: 257px;
  }
  100% {
    height: 0px;
  }
}

#devicesContainer {
  animation-fill-mode: forwards;
  animation-duration: 200ms;
}
@keyframes mobile {
  100% {
    right: 0px;
  }
}
@keyframes laptop {
  100% {
    right: 100%;
  }
}
@keyframes tablet {
  100% {
    right: 200%;
  }
}